mixin btn(text, mods, isInput)
	-
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' btn--' + modsList[i].trim();
			}
		}

	if (attributes.href)
		a.btn(class=allMods)&attributes(attributes)!= text
			block

	else if (isInput)
		input.btn(class=allMods, value=text, type=isInput)&attributes(attributes)

	else
		button.btn(class=allMods)&attributes(attributes)!= text
			block
